<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="../src/test/java/com/automation/tests">
        <classes>
            <class name="com.automation.tests.CheckoutTest">
                <methods>
                    <include name="CheckoutServicesDriveToGarageCash"/>
                    <include name="CheckoutServicesPickUpCash"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>